:root {
  color-scheme: light dark;
  font-family: sans-serif;
}
body {
  min-height: 100svh;
  display: grid;
  place-items: center;
}
main {
  width: 400px;
  height: 400px;
  background-color: #111;
  text-align: center;
}
